@import url("reset.css");

/*
Colors:
	Header a = #fff;
	Header a.active/hover = #2c2c2c;
	Sidebar bg = #f1f0ef;
	Sidebar a = #42423b;
	Sidebar dash = #d1cfcd;
	Content a:hover = #bb800f;
	Content h2 = #5699A7;
*/

/* ------ Common Elements ------ */
body {
	font-family: "Lucida Grande", Tahoma, sans-serif; 
	color: #4b4942;
	background: #fff url(../images/top_bg.jpg) top repeat-x;
	padding-top: 15px;
}
a { text-decoration: none; }
a:hover { color: #bb800f; }

/* ------ Containers ------ */
header, #main { width: 978px; margin: 0 auto; overflow: hidden; }
	
/* ------ Header ------ */
header { height: 238px; background: url(../images/building.gif) right bottom no-repeat; margin-bottom: 24px; }
header a { color: #fff; }
header ul { float: right; }
header li { line-height: 34px; float: left; padding-left: 27px; text-transform: uppercase; }
header li a:hover, header li.active a { color: #2c2c2c; }

#banner { margin-top: 120px; width: 450px; color: #a49c8f; font-weight: bold; }

h1 { max-width: 200px; height: 71px; float: left; background: url(../images/logo_right.gif) right top no-repeat; }
h1 a {
	font-size: 24px;
	line-height: 71px;
	padding-left: 13px;
	margin-right: 13px;
	display: block;
	background: url(../images/logo_bg.gif) left top no-repeat;
}
h1 a:hover { color: #fff; }

/* ------ Sidebar ------ */
aside { float: left; width: 154px; background: #f1f0ef; padding: 10px 23px; }
aside h3 { font-size: 1.3em; }
aside li { border-bottom: 1px dashed #d1cfcd; }
aside li a { line-height: 26px; color: #42423b; }
	
/* ------ Content ------ */
article { float: right; width: 758px; }
section h2 { color: #5699A7; font-size: 1.5em; }
section p { margin-bottom: 2em; }