body {
	font-family: Georgia, serif;
	background-color: #eee;
}
#article {
	margin: 0 auto;
	width: 780px;
}
h1 {
	text-align: center;
}
.left-col, .right-col { width: 375px; float: right; }
.left-col {
	float: left;
	border-right: 1px dashed #ccc;
	padding-right: 10px;
}
.img-left {
	float: left;
	margin: 5px 10px 0 0;
	border: 1px solid #ccc;
	padding: 5px;
	background-color: #fff;
}
p {
	line-height: 1.7em;
	margin: 0;
	margin-bottom: 2em;
}
blockquote {
	text-align: center;
	font-size: 1.3em;
	font-style: italic;
}