@import 'base.css';

/* menu */
nav>a{ display:block; float:left; }
header nav>ul{ float:right; }
header ul{ list-style:none; }
header li{ float: left; }
header li li { float: none; }
header li a{ display: block; padding:12px 0 5px 33px; font-size:13px; text-transform:uppercase; color:#252525; }

/* Clear Fix Hack */
/*.fixed{overflow:hidden;}*/  /* We're unable to use overflow:hidden because the overflow of the submenu must be visible */
.fixed:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }


/* New menu course work goes below */

nav li { position: relative; }
nav li ul { display: none; z-index: 50; position: absolute; background-color: #fff; border: 1px solid #444; }
nav li li { padding-right: 33px; }
nav li:hover ul { display: block; }

.banner { z-index: 1; }